//gradients
._gradient(@color1, @color2) {
  background: @color1; /* Old browsers */
  background: -webkit-linear-gradient(@color1, @color2); /* Chrome10+, Safari5.1+ */
  background: linear-gradient(@color1, @color2); /* Standard, IE10, Firefox 16+, Safari 7+, Chrome 26 */
}