doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= t_config["title"]
    link(rel='stylesheet' href='#{t_config["styles"]}')
    script(type='text/javascript' src='#{t_config["js"]["jquery"]}')
    script(type='text/javascript' src='#{t_config["js"]["main"]}')
    script(type='text/javascript').
      $(function() {
        helpers.browser.addClass(helpers.browser.ie());
        itemsCarousel().init();
      });
  body
    .o-items-carousel-holder.js-items-carousel
      ul.items-carousel-list
        each val in config
          li.item-carousel.js-item-carousel
            .item-carousel-image.js-image-carousel
              img.image(src='#{t_config["imagesPath"]}/#{val.img}')
            .item-carousel-describe.js-item-short-describe
              h4.title= val.title
              p.short-describe= val.description
                span.note= val.note
              a.link.js-toggle-link(href= '#')= t_config["toggleLinkText"]
      .item-carousel-btn-holder
        span.items-carousel-to-store
          a.btn.link.to-store.right.js-to-store(href='#')
            span.btn-title= t_config["storeBtnText"]
              span.separator
            span.btn-icon
              span.icon
        .items-carousel-nav
          button.btn.btn-prev.left.js-btn-prev
            span.btn-icon
              span.icon
            span.btn-title= t_config["prevBtnText"]
              span.separator
          button.btn.btn-next.right.js-btn-next
            span.btn-title= t_config["nextBtnText"]
              span.separator
            span.btn-icon
              span.icon
