//paths
@theme-path-img: "../images";
@theme-path-sprite: url("@{theme-path-img}/sprite.png");

// fonts
@theme-font_family-arial: Arial, Helvetica, sans-serif;
@theme-font_size-h4: 18px;
@theme-font_size-link: 9px;

//colors
@theme-link-color: #ed6c20;
@theme-link-color-hover: #915736;
@theme-title-color: #ed6c20;
@theme-text-color: #5a5551;
@theme-body-bg: #fff;